---
- name: Download Debian Cloud Image if not present
  ansible.builtin.get_url:
    url: "{{ cloud_image_url }}"
    dest: "{{ kvm_disk_path }}/{{ cloud_image_file }}"
    mode: '0644'
    timeout: 60
  run_once: true

- name: Ensure the 'default' libvirt network is active
  community.libvirt.virt_net:
    name: default
    state: active
    autostart: true
  run_once: true

- name: Include VM creation tasks for each VM
  ansible.builtin.include_tasks: _create_vm.yml
  loop:
    - { name: k8s-master,   ip: "192.168.122.10", mac: "52:54:00:11:00:10" }
    - { name: k8s-worker-1, ip: "192.168.122.11", mac: "52:54:00:11:00:11" }
    - { name: k8s-worker-2, ip: "192.168.122.12", mac: "52:54:00:11:00:12" }
  loop_control:
    label: "{{ item.name }}"