---
- name: Disable swap permanently and immediately
  ansible.builtin.command: "{{ item }}"
  loop:
    - swapoff -a
    - sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab # Comment out swap in fstab

- name: Install required K8s packages (kubelet, kubeadm, kubectl)
  block:
    - name: Add Google GPG key for Kubernetes
      ansible.builtin.apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present

    - name: Add Kubernetes APT repository
      ansible.builtin.apt_repository:
        repo: "deb http://apt.kubernetes.io/ kubernetes-xenial main"
        state: present
        filename: kubernetes

    - name: Update package list
      ansible.builtin.apt:
        update_cache: true

    - name: Install K8s components and containerd
      ansible.builtin.apt:
        name:
          - "kubelet={{ kube_version }}-*"
          - "kubeadm={{ kube_version }}-*"
          - "kubectl={{ kube_version }}-*"
          - containerd.io
        state: present
        allow_downgrade: true
        install_recommends: false
        
    - name: Hold K8s package versions
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop:
        - kubelet
        - kubeadm
        - kubectl

- name: Configure Kernel Parameters for Kubernetes (netfilter/bridged traffic)
  ansible.builtin.blockinfile:
    path: /etc/sysctl.d/k8s.conf
    create: true
    block: |
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1

- name: Apply sysctl params without reboot
  ansible.builtin.command: sysctl --system